<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wireless.stickie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainTopic" />
        <activity android:name=".Exercise" />
        <activity android:name=".ARQExercise" />
        <activity android:name=".RoutingExercise" />
        <activity android:name=".CongestionExercise" />
        <activity android:name=".ModelExercise" />

        <activity android:name=".Learning" />
        <activity
            android:name=".RoutingLearning"
            android:theme="@style/AppTheme.NoActionBarCard" />
        <activity
            android:name=".ARQLearning"
            android:theme="@style/AppTheme.NoActionBarCard" />
        <activity
            android:name=".ModelLearning"
            android:theme="@style/AppTheme.NoActionBarCard" />
        <activity
            android:name=".CongestionLearning"
            android:theme="@style/AppTheme.NoActionBarCard" />

        <activity android:name=".ScoreActivity" />
        <activity
            android:name=".ResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionActivity"
            android:label="@string/quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_Sign_up" />

        <activity android:name=".CategoryQuiz" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>